.post
  .post__upper-info
    .post__upper-info--talker
      test-user
    .post__upper-info--date
      2019/09/07(Sat) 22:42:31
  .post__text
    こんにちは！

.post
  .post__upper-info
    .post__upper-info--talker
      test-user
    .post__upper-info--date
      2019/09/07(Sat) 22:42:31
  .post__text
    さようなら